<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.todo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/baseline_task_alt_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_task_alt_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDo">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".notifications.NotificationReceiver" />
    </application>

</manifest>